.note {
  border: 1px solid grey;
  padding: 2rem;
  font-size: 1rem;
  color: #333;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: burlywood;
}
.high {
  background-color: orange;
}
.medium {
  background-color: yellow;
}
.low {
  background-color: green;
}
